services:
  database:
    image: postgres:18-alpine
    container_name: postgres_db
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: example
      POSTGRES_PASSWORD: example
      POSTGRES_DB: mydb
